html,
body {
  font-family: "K2D", sans-serif !important;
}

.w3-jumbo,
.slogan,
.custom-font {
  font-family: "Electrolize", sans-serif !important;
}

.fa-gears,
.fa-car {
  font-size: 200px;
}

.fa-leaf {
  font-size: 120px;
  height: 148px;
}

.fa-phone,
.fa-envelope {
  font-size: 25px;
}

nav {
  background-color: black;
  color: white;
}

.banner-img {
  width: 100%;
  height: 800px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/banner.webp");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.banner-content {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 3px white;
}

.grid-container {
  max-width: 1400px;
  margin: 0 auto;
}


.w3-third {
  padding: 0 50px;
}

.footer-title {
  text-decoration: underline;
}

.section-anchor {
  scroll-margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .w3-jumbo {
    font-size: 3em !important;
  }

  .slogan {
    font-size: 1.8em !important;
  }

  .w3-bar-item {
    text-align: center;
  }

  .w3-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #navDemo a {
    padding: 15px;
    text-align: center;
  }

  .banner-content {
    left: 50%;
    top: 200px;
    transform: translate(-50%, -30%);
    color: white;
  }

  .banner-img {
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .w3-bar {
    display: flex;
    justify-content: center;
  }
  .w3-bar-item {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 8px;
  }

  .contact-container a {
    display: inline-block;
    margin-left: 6px;
  }

  .banner-img {
    height: 500px;
  }

  .banner-content {
    left: 50%;
    top: 200px;
    transform: translate(-50%, -30%);
    color: white;
  }

  .w3-jumbo {
    font-size: 2.2em !important;
  }

  .slogan {
    font-size: 1.5em !important;
  }

  .w3-half {
    padding: 0;
  }

  .w3-bar {
    display: block;
  }

  /* Ensure all items in services stack vertically */
  .w3-third {
    width: 100%;
  }

  .w3-half {
    padding: 0;
  }

  .w3-twothird {
    width: 100%;
  }
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* allow wrapping */
  gap: 15px; /* spacing between items */
  text-align: center;
}

.contact-container p {
  margin: 5px 10px;
}